<div class="card-container">
  <div #card class="card">
    <div #cardFront class="card-front">{{cardText[color - 1]}}</div>
    <div class="card-back" *ngIf="currentQuestion">
      <div class="question">{{currentQuestion.question}}</div>
      <div *ngIf="displayBtnAnswer; else explanationBlock" id="answer-buttons" class="btn-grid">
        <button class="btn" *ngFor="let answer of currentQuestion.answers" (click)="setAnswer(answer.correct)">{{answer.text}}</button>
      </div>
      <ng-template #explanationBlock>
        <br>
        {{answeredDisplay}}
        <br>
        {{currentQuestion.explication}}
        <button class="btn explanation-btn"(click)="processAnswer()">ok</button>
      </ng-template>
    </div>
  </div>
</div>




