<div class="container">
  <!---<div class="headerbar">
    <span>Biposchiz’Educ</span>
  </div>
  <div class="boom">
    <h1>Hello {{username}}</h1> <h2>you have successfully logged in using JWT.</h2>
    
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </div>--->
  <div class="row">
    <img src="../../assets/images/logo.PNG" alt="Biposchizeduc">
</div>

<div class="row">
    <div class="col-sm" id="boutons">
        <button class="vert bouton" type="button" onclick="window.location.href='./game';">Nouvelle partie</button>
        <button class="bleu bouton" type="button">Questions</button>
        <button class="violet bouton" type="button">Paramètres</button>
    </div>
    <!---<div class="col-sm" >
        <div id="espacePerso">
            <h2>Espace personnel</h2>
            <p>Nom</p>
            <p>Prénom</p>
        </div>
    </div>--->
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
