.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/images/FondHome.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
/*
.boom{
    width: 60%;
    background-color: #e9ecef;
    padding: 4rem;
    border-radius: .3rem;
    font-family: 'Lato';
    margin-top: 40px;
}

h2 {
    color: #212121;
}
.headerbar {
    padding: 10px;
    width: 100%;
    background-color:cornflowerblue;
}
.headerbar > span{
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    margin-left: 20px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

body{
    background-image:url(FondHome.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
*/
img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.vert{
    background-color : #22B148;
    color : white;

}

.bleu{
    background-color : #0072BB;
    color : white;

}

#espacePerso{
    background-color : #FDAF17;
    color : white;
    padding:1em;

}

.violet{
    background-color : #92278F;
    color : white;

}

.bouton{
    border: none;
    width:8em;
    /*padding: 0px 32px;*/
    margin-bottom: 1em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}

#boutons{
    display: inline-block;    
}